:root {
    --textColor: white;
}

body {
    background-color: #3b3a3a;
    color: var(--textColor);
}

a {
    color: aquamarine;
}

a:hover {
    color: var(--textColor);
}

a:visited {
    color: mediumaquamarine;
}

body table td,
body table th,
.footer,
.breadcrumb li.active,
.breadcrumb li.active a,
.left-nav>ul>li>a,
.left-nav>ul>li ul li.active a {
    color: var(--textColor);
}

.footer,
#wrap {
    background: transparent;
}

.login #content-main h1,
.login #content-main .submit-row,
.form-horizontal .control-group .controls,
.breadcrumb,
.box, .well,
.left-nav>ul>li.active>a,
.left-nav>ul>li ul li a:hover {
    background: #6c757d;
}

.login #content-main,
.form-horizontal .control-group .control-label,
.left-nav>ul>li ul {
    background-color: #4e555b;
}

.login #content-main .submit-row {
    border-top: none;
}

.breadcrumb>li {
    text-shadow: none;
}

.left-nav>ul>li ul li a:hover {
    text-shadow: none;
}