table.table.table-bordered.table-hover.table-condensed.formset-forms
  for form in formset.forms
    if forloop.first
      thead
        tr
          th No.
          for field in form.visible_fields
            th {{ field.label|capfirst }}
          th Delete
    - include './tabular-row.pug' with form=form